.banners img{
    width: 200px;

}

.navbar{
   position: relative;
   z-index: 1;
}

.logo{
    height: 40px;
    width: 100;
}
.custom-form{
 width: 300px;
}

.carousel-item img {
    max-height: 500px;
    display: block;
    margin: auto;

  }
  .carousel{
    position: relative;
    z-index: 0;
  }
  
  .hero-skincare{
    background-image: url(../assets/skincare.jpeg);
    width: 300px;
    height: 250x;
  }
  .hero-hair{
    background-image: url(../assets/haricare.jpeg);
    width: 300px;
    height: 250px;
  }
  .hero-makeup{
    background-image: url(../assets/makeup.jpg);
    width: 300px;
    height: 250px;
  }
  .hero-personal{
    background-image: url(../assets/personal.jpg);
    width: 300px;
    height: 250px;
  }