.banners img{
    width: 200px;

}

.navbar{
   position: relative;
   z-index: 1;
}

.logo{
    height: 40px;
    width: 100;
}
.custom-form{
 width: 300px;
}

.carousel-item img {
    max-height: 500px;
    display: block;
    margin: auto;

  }
  .carousel{
    position: relative;
    z-index: 0;
  }
  